*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

header{
    background: #000;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    list-style: none;
    color: white;
}
header img{
    height: 50px;
}

nav-menu{
 
}